.blog {
    .nav-fluid {
        background-color: $main_color;
    }
    .nav_bar {
        justify-content: space-between;
        padding: 0px 88px;
        @include smallDesk() {
            padding: 0px 50px;
        }
        @include pad() {
            padding: 0px 40px;
        }
        // @include Lmobile() {
        //     padding: 0;
        //     flex-direction: column;
        // }
        .company_logo {
            @include pad() {
                margin: 10px 0px;
            }
            a {
                @include word-hidden;
                background-image: url(../../dist/image/logo.png);
                width: 80px;
                height: 49px;
            }
        }
        .header {
            @include pad() {
                width: 100%;
            }
            .header_link_list {
                flex-wrap: wrap;
                li {
                    text-align: center;
                    margin-left: 64px;
                    @include pad() {
                        margin-left: 40px;
                    }
                    @include L-mobile() {
                        margin-left: 0;
                        width: 50%;
                        border: 1px solid $white;
                    }
                }
                a {
                    color: $white;
                    @include word(20px, 30px);
                    padding-top: 40px;
                    padding-bottom: 40px;
                    &:hover {
                        color: #650300;
                    }
                    @include mobile() {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
    .blog_list {
        padding-top: 40px;
        padding-bottom: 160px;
        h3 {
            @include sub-title;
        }
    }
    .blog_menu {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            @include pad() {
                margin-bottom: 24px;
            }
            @include L-mobile() {
                margin-bottom: 20px;
                flex-direction: column;
            }
        }
    }
    .blog_pic {
        // width: 48%;
        // @include Lmobile() {
        //     width: 100%;
        // }
    }
    .blog_content {
        width: 48%;
        // margin-left: 2%;
        // @include Lmobile() {
        //     width: 100%;
        //     margin-left: 0;
        // }
        .blog_title {
            @include word(32px, 63px);
            color: $main_color;
            margin-bottom: 2px;
            @include pad() {
                font-size: 20px;
            }
            @include mobile() {
                font-size: 16px;
            }
        }
        .note {
            justify-content: space-between;
            margin-bottom: 24px;
            .blog_titleEn {
                @include word(20px, 30px);
            }
            .blog_date {
                line-height: 24px;
                opacity: 70%;
            }
        }
    }
    .blog_intro_mobile {
        // @include Lmobile() {
        //     display: none;
        // }
        p {
            @include word(20px, 30px);
            color: $gray;
        }
        a {
            display: none;
            @include pad() {
                display: block;
                color: $gray;
                @include word(14px, 21px);
                font-weight: bold;
            }
        }
    }
    .blog_more {
        a {
            color: $main_color;
            @include word(36px, 54px);
            font-weight: bold;
            text-align: right;
            display: none;
        }
        @include pad() {
            display: none;
        }
    }
    .footer-fluid {
        background-color: $main_color;
        padding-top: 44px;
        padding-bottom: 39px;
    }
    .about_us {
        @include mobile() {
            padding: 0px 20px;
        }
        p,
        a {
            color: $white;
        }
        .links {
            justify-content: space-between;
            margin-bottom: 36px;
            @include pad() {
                margin-bottom: 6px;
            }
            .page_link_list {
                @include pad() {
                    display: none;
                }
                li {
                    margin-right: 48px;
                    &:hover {
                        border-bottom: 2px solid $white;
                    }
                    @include smallDesk() {
                        margin-right: 40px;
                    }
                    // @include B-pad() {
                    //     margin-right: 20px;
                    // }
                }
            }
            .social_link_list {
                li {
                    &:not(:first-child) {
                        margin-left: 32px;
                    }
                    @include mobile() {
                        &:not(:first-child) {
                            margin-left: 20px;
                        }
                        img {
                            width: 24px;
                        }
                    }
                }
                a:hover {
                    filter: brightness(50%);
                }
            }
            .call_us_list_mobile {
                display: none;
                @include pad() {
                    display: block;
                    display: flex;
                    align-items: center;
                    img {
                        width: 25px;
                        margin-right: 20px;
                    }
                }
                @include mobile() {
                    img {
                        width: 15px;
                    }
                }
            }
        }
        .call_us {
            border-bottom: 1px solid $white;
            .call_us_list {
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 16px;
                    @include pad() {
                        display: none;
                    }
                }
                &:nth-child(2) {
                    padding-bottom: 24px;
                    border-bottom: 1px solid white;
                    @include pad() {
                        border-bottom: none;
                    }
                }
                .pic {
                    width: 40px;
                    margin-right: 20px;
                    @include pad() {
                        width: 25px;
                    }
                    @include mobile() {
                        width: 15px;
                    }
                }
            }
        }
    }
    .contract {
        justify-content: space-between;
        margin-top: 33px;
        @include pad() {
            flex-direction: column;
            align-items: flex-start;
        }
        .policy {
            li {
                margin-left: 48px;
            }
            @include pad() {
                flex-direction: column;
                align-items: flex-start;
                li {
                    margin-left: 0;
                    &:first-child {
                        margin: 8px 0px;
                    }
                }
            }
        }
    }
}
