.location {
    .nav-fluid {
        background-color: $main_color;
    }
    .nav_bar {
        justify-content: space-between;
        padding: 0px 88px;
        @include smallDesk() {
            padding: 0px 50px;
        }

        .company_logo {
            @include pad() {
                margin: 10px 0px;
            }
            a {
                @include word-hidden;
                background-image: url(../../dist/image/logo.png);
                width: 80px;
                height: 49px;
            }
        }
        .header {
            @include pad() {
                width: 100%;
            }
            .header_link_list {
                flex-wrap: wrap;
                li {
                    text-align: center;
                    margin-left: 64px;
                }
                a {
                    color: $white;
                    @include word(20px, 30px);
                    padding-top: 40px;
                    padding-bottom: 40px;
                    &:hover {
                        color: #650300;
                    }
                    @include mobile() {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
    .location_all {
        padding-top: 96px;
        padding-bottom: 160px;
        @include pad() {
            padding-top: 28px;
            padding-bottom: 56px;
        }
        h3 {
            @include sub-title;
        }
    }
    .location_city {
        margin-bottom: 32px;
        p {
            @include word(24px, 30px);
            margin-right: 20px;
            white-space: nowrap;
            @include pad() {
                font-size: 14px;
                margin-right: 12px;
            }
        }
        select {
            width: 324px;
            padding: 8px 10px 8px 16px;
            border: 1px solid #ced4da;
            @include pad() {
                width: 277px;
            }
        }
    }
    .location_branch_list {
        flex-wrap: wrap;
    }
    .location_branch_list > li {
        width: 32%;
        margin-bottom: 32px;
    }
    .location_2 {
        margin: 0 1%;
    }
    .location_name {
        border: 1px solid $border;
        padding: 16px 24px;
        p {
            @include word(24px, 32px);
        }
    }
    .location_content {
        ul {
            border: 1px solid $border;
            padding: 16px 24px;
        }
        li {
            margin-bottom: 8px;
            @include word(20px, 30px);
        }
        .fas,
        .far {
            margin-right: 11px;
        }
        input[type="button"] {
            background-color: black;
            color: $white;
            @include word(19px, 27px);
        }
    }
    .footer-fluid {
        background-color: $main_color;
        padding-top: 44px;
        padding-bottom: 39px;
    }
    .about_us {
        p,
        a {
            color: $white;
        }
        .links {
            justify-content: space-between;
            margin-bottom: 36px;
            .page_link_list {
                li {
                    margin-right: 48px;
                    &:hover {
                        border-bottom: 2px solid $white;
                    }
                }
            }
            .social_link_list {
                li {
                    &:not(:first-child) {
                        margin-left: 32px;
                    }
                    @include mobile() {
                        &:not(:first-child) {
                            margin-left: 20px;
                        }
                        img {
                            width: 24px;
                        }
                    }
                }
                a:hover {
                    filter: brightness(50%);
                }
            }
            .call_us_list_mobile {
                display: none;
            }
        }
        .call_us {
            border-bottom: 1px solid $white;
            .call_us_list {
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                &:nth-child(2) {
                    padding-bottom: 24px;
                    border-bottom: 1px solid white;
                }
                .pic {
                    width: 40px;
                    margin-right: 20px;
                }
            }
        }
    }
    .contract {
        justify-content: space-between;
        margin-top: 33px;
        .policy {
            li {
                margin-left: 48px;
            }
        }
    }
}
