@mixin word($fz, $lh) {
    font-size: $fz;
    line-height: $lh;
}
@mixin title {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    @include pad() {
        font-size: 24px;
        line-height: 48px;
        margin-bottom: 20px;
    }
}
@mixin word-hidden {
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
@mixin smallDesk {
    @media (max-width: 992px) {
        @content;
    }
}
@mixin B-pad {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin pad {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 414px) {
        @content;
    }
}
